// Header style for all pages
@use "variables" as *;
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: $color-secundario;
    height: $height-header;
    width: 100%;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-texto;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 1rem
}

.nav-menu a {
    text-decoration: none;
    color: $color-texto;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-menu a:hover, a:focus {
    background-color: $color-fondo;
    color: $color-primario;
}

/* === Menu tipo hamburguesa === */
.hamburger-checkbox {
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: $color-primario;
    margin: 3px 0;
}

@media (max-width: 750px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: $color-fondo;
        position: absolute;
        top: $height-header;
        left: 0;
        gap: 0;
    }

    .nav-menu li {
        width: 100%;
        text-align: center;

    }

    .nav-menu li a {
        display: block;
        border-radius: 20px;
        padding: 0.5rem 0;
        color: $color-primario;
        letter-spacing: 2px;
        
        &:hover, 
        &:focus {
            background-color: $color-primario;
            color: $color-texto;
        }
    }

    .hamburger {
        display: flex;
        background-color: $color-fondo;
        border: solid 2px $color-fondo;
        border-radius: 5px;
        padding: 2px 5px;
    }

    .hamburger-checkbox:checked + .hamburger + .nav-menu {
        display: flex;
        color: $color-primario;
        z-index: 2;
    }
}