//  Home page styles 
@use "variables" as *;

.home {
    display:grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: auto;
    padding: 5px 20px;
    gap: 20px;
    grid-template-areas:
        "box-1 box-2 box-2 box-2"
        "box-1 box-2 box-2 box-2"
        "box-4 box-2 box-2 box-2"
        "box-3 box-3 box-3 box-3";
    height: calc(100vh - #{$height-header});
}

.titulo-home{
    grid-area: box-1;
    /* row-start, column-start, row-end, column-end */
    // grid-area: 1 / 1 / 4 / 4;
    // background-color: rgba(213, 246, 229, 0.15);
    background-color: $color-primario2;
    border-radius: 18px;
    color: $color-texto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}

.titulo-home h1{
    color: $color-texto;
    letter-spacing: 2px;
    text-shadow: $color-primario 1px 1px 2px;
    letter-spacing: 0px;
    padding: 0;
    // writing-mode: vertical-lr;
    // text-orientation: upright;
}

.titulo-home p{
    text-align: bottom;

}

.main {
    grid-area: box-2;
    // grid-area: 1 / 4 / 5 / 14;
    /* Cómo se puede meter opacidad a una variable? */
    // height: calc(100vh - #{$height-header});
    background-image: url('../img/main.jpg');
    border-radius: 18px;
    // mask-image: linear-gradient(to right, black , transparent);
    background-size: cover;
    background-position: center;
}

.novedades {
    grid-area: box-3;
    // grid-area: 1 / 14 / 9 / 17;
    background-color: $color-primario2;
    border-radius: 18px;
    padding: 10px;
}

.novedades h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    align-content: center;
    padding: 15px 0;
    color: $color-texto;
    text-shadow: $color-primario 1px 1px 2px;
}

.cards-novedades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content:space-around;
}

.novedad {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    // height: calc(100vh / 4);
    width: $card-width-novedad;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2), -3px -3px 5px rgba(213, 246, 229, 0.5);
    text-shadow: $color-primario 1px 1px 2px;
    backdrop-filter: blur(5px);
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 18px;
    padding: 25px 15px;
    overflow: hidden;

    &:hover,
    &:focus{
        background-color: rgba(213, 246, 229, 0.4);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px rgb(213, 246, 229, 0.5);
        background:
        linear-gradient(160deg, rgb(213, 246, 229,0.8), rgb(15, 109, 81,0.0)),
        linear-gradient(200deg, rgb(213, 246, 229,0.8), rgb(15, 109, 81,0.0));
        color: $color-primario;
        text-shadow: $color-primario 1px 1px 2px;
        transform: translateX(-5px);
        cursor: pointer;
    }  
}

.novedad h4 {
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: $color-texto;
    padding: 0 5px 20px 5px;
}

.novedad p {
    text-align: left;
    font-size: 0.7rem;
    color: $color-texto;
    padding: 0 10px 20px 10px;
}

.redes {
    grid-area: box-4;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border-radius: 18px;
    border: #373737 1px solid;
    background-color: $color-primario;
    mask-image: blur(5px);
    position: relative;
    justify-content: center;
    align-items: center;
}

@property --deg {
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}

.redes::before,
.redes::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(from var(--deg) at center, #c3fcf1, #007561, #2a8374, #c3fcf1);
    border-radius: inherit;
    padding: 2px;
    z-index: -1;
    animation: autoRotate 2s linear infinite;
}

.redes::after {
    filter: blur(10px)
}

@keyframes autoRotate {
    to{
        --deg: 360deg;
    }
}

.redes a {
    font-size: 3rem;
    color: #373737;
    padding: 5px;
}

@media (width <= 800px) {
    .home {
        display: flex;
        flex-direction: column;
    }
    
    .main {
        display: none;
        width: 100%;
        height: 100vh;

    }

    .novedades {
        height: 100vh/4;
    }

    .redes {
        flex-direction: row;
        justify-content: center;
    }

    .redes a {
        font-size: 40px;
        color: $color-texto;
    }
}
