// Nosotros page
@use "variables" as *;

.titulo {
    @include container-titulo($color-secundario);
}

.titulo h1 {
    @include titulo-h1($color-secundario, $color-fondo);
}

.nosotros {
    display: grid;
    grid-template-columns: repeat(auto-fit, $card-width);
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
}

.equipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: $card-width;
    background-color: $color-fondo;
    color: $color-primario;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 5px rgb(213, 246, 229, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 20px;
    padding: 25px 40px;
    overflow: hidden;

    &:hover,
    &:focus{
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px rgb(213, 246, 229, 0.5);
        color: $color-primario;
        text-shadow: $color-fondo 1px 1px 2px;
        transform: scale(1.05);
    }
}

.equipo img {
    width: 100%;
    height: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s;
}

.equipo h4 {
    font-size: 1.5rem;
    padding: 10px 5px 20px 5px;
}