// Variables
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$color-primario: #ffb963;
$color-secundario: #ffb963;
$color-fondo: rgb(213, 246, 229);

$color-primario2: #007561;


$color-texto2: rgb(48, 54, 51);
$color-texto: rgb(249, 249, 249);

$fuente-principal: 'Poppins', sans-serif;
$height-header: 60px;

$card-width-novedad: 300px;

$card-width: 350px;

$card-width-equipo: 750px;


@mixin container-titulo ($color, $color-titulo){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: $color;
    color: $color-titulo;
}

@mixin titulo-h1($color, $color-sombra) {
    font-size: 2.5rem;
    font-weight: 700;
    color: $color;
    letter-spacing: 2px;
    padding: 0.5rem 0.5rem;
}

